#teamContainer {
    border: 2px dashed black;
}

label {
    display: block;
    margin-bottom: 20px;
}

input {
    margin-left: 20px;
}

select {
    margin-left: 20px;
}

td {
    border: 2px solid black;
    padding: 5px;
}